[submodule "Sway/vendor/rbdl"]
	path = Sway/vendor/rbdl
	url = https://github.com/ORB-HD/rbdl-orb.git
[submodule "Sway/vendor/Catch2"]
	path = Sway/vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "Sway/vendor/eigen"]
	path = Sway/vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "Sway/vendor/spdlog"]
	path = Sway/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
